.pos {
    /*background-color: #00aa00;*/
    background-image: url("/imgs/positive.png");
    background-size: 50px;
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 10px;
    padding: 10px, 10px, 10px, 10px;
}

.neg {
    background-image: url("/imgs/negative.png");
    background-size: 50px;
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 10px;
    padding: 10px, 10px, 10px, 10px;
}

.sencontain {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    background-color: #f2f2f2;

    padding-bottom: 10px;
    padding-left: 20px;
}

.wrdcontain {
    padding: 10px, 10px, 10px, 10px;
    margin-left: 60px;
}

.episode, .name, .description {

}